/* stylelint-disable selector-list-comma-newline-after */
@media (prefers-color-scheme: light) {
	/* CSS here */
	.toggle.ios, .toggle-on.ios, .toggle-off.ios {
		border-radius: .5rem;
	}

	.toggle-handle {
		border-radius: .25rem;
	}

	.rounded-5rem {
		border-radius: .5rem;
	}

	.blog-header {
		line-height: 1;
		border-bottom: 1px solid #e5e5e5;
	}

	.blog-header-logo {
		font-family: "Playfair Display", Georgia, "Times New Roman", serif;
		font-size: 2.25rem;
		white-space: nowrap;
	}

	.category-title {
		white-space: nowrap;
	}

	@media (max-width: 768px) {
		.blog-header-logo {
			font-size: 2rem;
		}
	}

	.blog-header-logo:hover {
		text-decoration: none;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	}

	.col-6 {
		max-width: 100%;
	}

	.display-4 {
		font-size: 2.5rem;
	}

	@media (min-width: 768px) {
		.display-4 {
			font-size: 3rem;
		}
	}

	.nav-scroller {
		position: relative;
		z-index: 2;
		height: 2.75rem;
		overflow-y: hidden;
	}

	.nav-scroller .nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		padding-bottom: 1rem;
		margin-top: -1px;
		overflow-x: auto;
		text-align: center;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}

	.nav-scroller .nav-link {
		padding-top: .75rem;
		padding-bottom: .75rem;
		font-size: .875rem;
	}

	/* Text Effects */
	.text-muted {
		transition: color .25s ease-in-out;
	}

	.text-muted:hover {
		color: #4e555b !important;
	}

	.text-muted:hover {
		color: #333639 !important;
	}

	.text-dark {
		color: #343a40 !important;
		transition: color .25s ease-in-out;
	}

	a.text-dark:hover {
		color: #000000 !important;
	}

	.flex-auto {
		-ms-flex: 0 0 auto;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
	}

	.h-250 {
		height: 250px;
	}

	.tag {
		padding-top: .06rem;
		padding-right: .28rem;
		padding-left: .28rem;
		padding-bottom: .16rem;
		background: rgba(8, 161, 241, 0.16);
		border-radius: .5rem;
	}

	.fas {
		font-size: smaller;
		display: inline;
	}

	@media (min-width: 768px) {
		.h-md-250 {
			height: 250px;
		}
	}

	.border-top {
		border-top: 1px solid #e5e5e5;
	}

	.border-bottom {
		border-bottom: 1px solid #e5e5e5;
	}

	.box-shadow {
		box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
	}

	/*
	 * Blog name and description
	 */
	.blog-title {
		margin-bottom: 0;
		font-size: 2rem;
		font-weight: 400;
	}

	.blog-description {
		font-size: 1.1rem;
		color: #999;
	}

	@media (min-width: 40em) {
		.blog-title {
			font-size: 3.5rem;
		}
	}

	/* Cards and Images */
	.card {
		border-radius: 10px;
	}

	.card-img-right {
		border-radius: 0 10px 10px 0;
		width: 200px;
		height: 250px;
		object-fit: none;
		object-position: 8% 10%;
	}

	/* Pagination */
	.blog-pagination {
		margin-bottom: 4rem;
	}

	.blog-pagination > .btn {
		border-radius: 2rem;
	}

	/*
	 * Blog pages
	 */
	.blog-post {
		margin-bottom: 4rem;
	}

	.blog-post-title {
		margin-bottom: .25rem;
		font-size: 2.5rem;
	}

	.blog-post-meta {
		margin-left: 25px !important;
		font-style: italic;
		font-size: 90%;
		color: #999;
	}

	.blog-image {
		margin-bottom: 1rem;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	blockquote {
		display: block;
		font-size: 30px;
		font-weight: 400;
		font-style: italic;
		font-family: "Playfair Display", Georgia, "Times New Roman", serif;
		letter-spacing: -0.009em;
		line-height: 44px;
		margin-top: 1.75em;
		margin-bottom: 1.75em;
		padding-left: 30px;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 40px;
		margin-inline-end: 40px;
		color: rgb(69, 69, 69);
	}

	/*
	 * Footer
	 */
	.blog-footer {
		padding: 1.8rem 0;
		color: #999;
		text-align: center;
		background-color: #f9f9f9;
		bottom: 0;
		width: 100%;
	}

	.blog-footer p:last-child {
		margin-bottom: 0;
	}


	/* Blog Examples */
	.blog-css-example-content {
		margin-bottom: 1rem;
	}

	.blog-css-margin-example {
		margin-top: 1rem;
		margin-right: 1.5rem;
		margin-left: .8rem;
		margin-bottom: 1rem;
	}

	.blog-css-margin-example-shorthand {
		margin: 1rem 1.5rem 1rem .8rem;
	}

	.blog-css-border-example {
		border-top: 1rem;
		border-bottom: 1rem;
		border-right: 1.5rem;
		border-left: .8rem;
		border-style: solid;
		border-color: black;
	}

	.blog-css-border-example-shorthand {
		border: 1rem dotted transparent;
	}

	.blog-css-padding-example {
		padding-top: 1rem;
		padding-right: 1.5rem;
		padding-left: .8rem;
		padding-bottom: 1rem;
	}

	.blog-css-padding-example-shorthand {
		padding: 1rem 1.5rem 1rem .8rem;
	}
}

/* Blog Examples end */
