.list-container {
	padding: 15px;
	border-radius: .3rem;
	/*max-width: 450px;*/
}

.heading-container {
	margin: 15px;
	padding: 15px;
	background-color: #e9ecef;
	border-radius: .3rem;
	/*max-width: 450px;*/
}

.icon {
	font-weight: 400;
	font-size: 64px;
}
