.list-container {
	padding: 15px;
	border-radius: .3rem;
	/*max-width: 450px;*/
}

.heading-container {
	margin: 15px;
	padding: 15px;
	background-color: #e9ecef;
	border-radius: .3rem;
	/*max-width: 450px;*/
}

.icon {
	font-weight: 400;
	font-size: 64px;
}

.content {
	padding: 1.5rem;
	margin-top: 15px;
	margin-left: 15px;
	border-width: 1px;
	border-radius: .3rem;
	background-color: #e9ecef;
}

.big-title {
	padding: 1.5rem;
}

.blue-text {
	color: rgba(0, 122, 255, 100);
}
