<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1 class="prose prose-2xl text-2xl pl-2">&lt;/&gt;</h1>
  <div class="spacer"></div>
  <a aria-label="Ryan Bosher on LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/ryan-bosher/"
     title="LinkedIn">
    <fa-icon size="2x" class="mx-1" [icon]="faLinkedIn"></fa-icon>
  </a>
  <a aria-label="Ryan Bosher on GitHub" target="_blank" rel="noopener" href="https://www.github.com/bosh-code"
     title="GitHub">
    <fa-icon size="2x" class="mx-1" [icon]="faGitHub"></fa-icon>
  </a>
  <a aria-label="Email Ryan Bosher" href="mailto:ryan@bosher.co.nz" title="Email">
    <fa-icon size="2x" class="mx-1" [icon]="faEmail"></fa-icon>
  </a>
</div>

<div class="content" role="main">
  <img class="rounded" src="./assets/me2.png" aria-label="Photo of Ryan Bosher" alt="Photo of Ryan Bosher">
  <div class="flex flex-wrap">
    <h1 class="prose prose-2xl tracking-widest text-5xl carat">&gt;</h1>
    <div class="typewriter">
      <h1 class="prose prose-2xl tracking-widest text-5xl name">Ryan_Bosher</h1>
    </div>
  </div>

  <div class="flex flex-wrap">
    <p class="prose prose-md tracking-normal text-terminal-input">echo</p>
    <p class="prose prose-md tracking-normal text-terminal-string">&nbsp;"Full-Stack Developer" &gt;&gt;&nbsp;</p>
    <p class="prose prose-md tracking-normal text-terminal-input">about.txt</p>
  </div>

  <footer class="footer" role="footer">
    <a class="my-1 mx-5 source" aria-label="GitHub Repo" target="_blank" rel="noopener"
       href="https://github.com/bosh-code/bosh-code.github.io"
       title="LinkedIn">
      <span>this.sourceCode</span>
    </a>
  </footer>
</div>
