@charset "utf-8";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "normalize.css";

@layer base {
  @font-face {
    font-family: "Fira Code VF";
    font-weight: 400;
    /* Path relative to ./dist */
    src: url(./assets/fonts/firacode/FiraCode-VF.woff2) format("woff2");
  }
  @font-face {
    font-family: "Fira Code";
    font-weight: 400;
    /* Path relative to ./dist */
    src: url(./assets/fonts/firacode/FiraCode-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Fira Code";
    font-weight: 500;
    /* Path relative to ./dist */
    src: url(./assets/fonts/firacode/FiraCode-Medium.woff2) format("woff2");
  }
}

@layer utilities {
  .font-thin {
    font-variation-settings: 'wght' 100;
  }

  .font-extralight {
    font-variation-settings: 'wght' 200;
  }

  .font-light {
    font-variation-settings: 'wght' 300;
  }

  .font-normal {
    font-variation-settings: 'wght' 400;
  }

  .font-medium {
    font-variation-settings: 'wght' 500;
  }

  .font-semibold {
    font-variation-settings: 'wght' 600;
  }

  .font-bold {
    font-variation-settings: 'wght' 700;
  }

  .font-extrabold {
    font-variation-settings: 'wght' 800;
  }

  .font-black {
    font-variation-settings: 'wght' 900;
  }
}

@layer base {
  .heading {
    @pply prose prose-2xl tracking-widest;
  }
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Fira Code VF", monospace;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fira Code", monospace;
  @apply bg-terminal-bg text-terminal-text tracking-normal;
}

img.rounded {
  @apply ring-4 ring-terminal-string object-cover rounded-full;
  @apply xl:h-80 xl:w-80 md:h-64 md:w-64 h-48 w-48;
  //sizing
  @apply xl:m-10 lg:m-8 md:m-6 m-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  @apply tracking-wide;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  @apply bg-terminal-header text-terminal-text shadow-md px-2 py-1;
}

.content {
  display: flex;
  flex: 1 0 auto;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 8px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  line-height: 20px;
  position: absolute;
  @apply inset-x-0 bottom-0;
}

footer a {
  display: flex;
  align-items: center;
}

h1 {
  position: relative;
  z-index: 500;
}

.carat {
  @apply text-terminal-chevron;
}

.name {
  @apply text-terminal-input;
}

.typewriter h1 {
  @apply border-terminal-cursor;
  overflow: hidden;
  border-right: .35em solid #dedede;
  white-space: nowrap;
  animation: typing 2s steps(11, end),
  blink-caret .75s step-end infinite;
  position: relative;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #dedede;
  }
}

.source {
  @apply text-terminal-folder underline m-1;
}

.source:hover span {
  display: none;
}

.source:hover:before {
  content: "sudo rm -rf /*";
}
